
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
}

.wrapper{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.chat-box{
  width:100%;
  max-width:700px;
  background:#111827;
  border-radius:20px;
  overflow:hidden;
  border:1px solid #1f2937;
}

.header{
  padding:20px;
  border-bottom:1px solid #1f2937;
}

.header h1{
  font-size:28px;
}

.header p{
  opacity:.7;
  margin-top:5px;
}

.messages{
  height:450px;
  overflow:auto;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.message{
  background:#1e293b;
  padding:14px;
  border-radius:14px;
}

.sender{
  font-size:13px;
  opacity:.7;
}

.message p{
  margin-top:6px;
}

.controls{
  padding:20px;
  border-top:1px solid #1f2937;
  display:flex;
  flex-direction:column;
  gap:12px;
}

input{
  width:100%;
  padding:14px;
  border:none;
  outline:none;
  border-radius:12px;
  background:#0f172a;
  color:white;
}

.send-row{
  display:flex;
  gap:10px;
}

button{
  border:none;
  padding:14px 20px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
}
